[user]
	email = zeviraty@gmail.com
	name = zeviraty
	signingkey = 5D42615DE2EDD45E

[init]
	templatedir = /home/zev/.git-templates
	defaultBranch = main

[color "decorate"]
    HEAD   = bold blink italic 196
    branch = 214
    tag    = bold 222

[commit]
	#gpgSign = true

[core]
	compression = 9
	whitespace = error
	preloadindex = true
	#pager = delta

[url "git@github.com:Zeviraty/"]
	insteadOf = "z:"

[url "git@github.com:"]
	insteadOf = "g:"

[status]
	branch = true
	showStash = true
	showUntrackedfiles = all

[diff]
	context = 3
	renames = copies
	interHunkContext = 10

#[interactive]
#	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true

[merge]
	conflictstyle = zdiff3

[push]
	autoSetupRemote = true
	default = current
	followTags = true

[pull]
	default = current
	rebase = true
	gpgSign = true

[rebase]
	autoStash = true
	missingCommitsCheck = warn

[log]
	abbrevCommit = true
	graphColors = blue,yellow,cyan,magenta,green,red

[color "branch"]
	current = magenta
	local = default
	remote = yellow
	upstream = green
	plain = blue

[branch]
	sort = -committerdate

[tag]
	sort = -taggerdate
	gpgSign = true
